{% extends "base.html" %}

{% block head %}
<style>
    #map {height: 480px; width:720px}
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }
</style>
{% endblock %}

{% block content %}
<br>
<div class="container-fluid text-center">
    <!-- Message for New Color Registration --> 
    {% if message %}
    <div id="collapseMessage" class="collapse show" aria-labelledby="headingMessage" > 
        <div class="alert alert-success" role="alert">
            <p style="font-weight:bold">"{{message}}"</p>
            <button type="button" class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseMessage">Close</button>
        </div>
        <br>  
    </div>
    {% endif %}
    
    <div class="row content">
        <!-- Title -->
        <div class="col-sm-8 text-left"> 
            <h4>{{litmus.name}}</h4>
        </div>   
        <!-- Setting of Link Button -->
        <div class="col-sm-2" style="text-align:right">
            <p></p>
        </div>
        <div class="col-sm-2" style="text-align:right">
            <p><a class="btn btn-info btn-sm border-light" style="background-color:royalblue; width:100pt"
                href="{% url 'litmus:main' %}">Color Search</a></p>
            <p></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row content">
        <div class="col-sm-3 ">
            <br>
            <div class="card" style="width: 150px; height: 150px;">
                <div class="card-body" style="background-color:{{litmus.hexa}}; padding:10px">           
                    <p class="card-title" style="color:{{litmus.text.color}}; font-size:13pt; font-weight:{{litmus.text.font}}">{{litmus.name}}</P>
                    <p style="color:{{litmus.text.color}}; font-weight:{{litmus.text.font}}; font-size:10pt">{{litmus.hexa}}</p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-sm-9 text-left" > 
            <br>
            <table class="table-condensed" style="font-size:small; font-weight:normal; line-height:22px">
                <tr><td><a style="font-size:11pt;">{{litmus.name}}&ensp;</a> {{litmus.hexa}}</td></tr>
                <tr><td><a style="font-weight:bold; font-size:11pt;">{{litmus.wheel.C_name}} {{litmus.wheel.H_name}}&ensp;</a>in Lab color wheel</td></tr>
                <tr><td>RGB Cell # <a style="font-weight:bold;">{{litmus.cell.room}}</a> &ensp; </td>
                    {% if not litmus.cell.owner.name == litmus.name %}
                    <td><a class="btn btn-primary btn-block border-light"
                        style="width: 150px; font-size:8pt; text-align:center; padding:2px; padding-left:5px; padding-right:5px; font-weight:{{litmus.cell.owner.text.font}};  color:{{litmus.cell.owner.text.color}}; background-color:{{litmus.cell.owner.hexa}};"
                        href="{% url 'litmus:colorInfo' pk=litmus.cell.owner.id %}">
                        {{litmus.cell.owner.name}}</a></td>
                    {% endif %}</tr>
                <tr><td>Family of <a style="font-weight:bold;">{{litmus.family.name}}</a></td>
                    {% if not litmus.family.owner.name == litmus.name %}
                    <td><a class="btn btn-primary btn-block border-light"
                        style="width: 150px; font-size:8pt; text-align:center; padding:2px; padding-left:5px; padding-right:5px; font-weight:{{litmus.family.owner.text.font}};  color:{{litmus.family.owner.text.color}}; background-color:{{litmus.family.owner.hexa}};"
                        href="{% url 'litmus:colorInfo' pk=litmus.family.owner.id %}">
                        {{litmus.family.owner.name}}</a></td>
                    {% endif %}</tr>
                <tr>{% if litmus.star == 5 %}
                    <td><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i></td>
                    {% elif litmus.star == 4 %}
                    <td><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i></td>
                    {% elif litmus.star == 3 %}
                    <td><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i></td>
                    {% elif litmus.star == 2 %}
                    <td><i class="fas fa-star" style="color:orange"></i><i class="fas fa-star" style="color:orange"></i></td>
                    {% elif litmus.star == 1 %}
                    <td><i class="fas fa-star" style="color:orange"></i></td>
                    {% endif %}</tr>
            </table>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <h5>Color Coordinates</h5>
    <hr>
    <table class="table-condensed" style="font-size:small; ">
        <tr><td>RGB</td>
            <td>R {{vector.RGB.RGB.R}}&ensp; G {{vector.RGB.RGB.G}}&ensp; B {{vector.RGB.RGB.B}}</td></tr>
        <tr><td>rgb</td>
            <td>r {{vector.RGB.rgb.r|floatformat:4}}&ensp; g {{vector.RGB.rgb.g|floatformat:4}}&ensp; b {{vector.RGB.rgb.b|floatformat:4}}&ensp; 
                Sum {{vector.RGB.Param.Sum|floatformat:4}}&ensp; Max {{vector.RGB.Param.Max|floatformat:4}}&ensp; Min {{vector.RGB.Param.Min|floatformat:4}}&ensp; 
                Sigma {{vector.RGB.Param.Sigma|floatformat:4}}&ensp; Delta {{vector.RGB.Param.Delta|floatformat:4}}</td></tr> 
        <tr><td>HSL </td> 
            <td>H {{vector.HSLV.HSL.H|floatformat:2}}&ensp; S {{vector.HSLV.HSL.S|floatformat:4}}&ensp; L {{vector.HSLV.HSL.L|floatformat:4}}&ensp; C {{vector.HSLV.HSL.C|floatformat:4}}</td></tr>
        <tr><td>HSV</td>
            <td>H {{vector.HSLV.HSV.H|floatformat:2}}&ensp; S {{vector.HSLV.HSV.S|floatformat:4}}&ensp; V {{vector.HSLV.HSV.V|floatformat:4}}&ensp; C {{vector.HSLV.HSV.C|floatformat:4}}</td></tr>
        <tr><td>CMYK &ensp; </td>
            <td>K {{vector.CMYK.K|floatformat:4}}&ensp; C {{vector.CMYK.C|floatformat:4}}&ensp; M {{vector.CMYK.M|floatformat:4}}&ensp; Y {{vector.CMYK.Y|floatformat:4}}</td></tr>
        <tr><td>XYZ &ensp; </td>
            <td>X {{vector.XYZ.sRGB.X|floatformat:4}}&ensp; Y {{vector.XYZ.sRGB.Y|floatformat:4}}&ensp; Z {{vector.XYZ.sRGB.Z|floatformat:4}}&ensp; 
                x {{vector.XYZ.sRGB.x|floatformat:4}}&ensp; y {{vector.XYZ.sRGB.y|floatformat:4}}&ensp; I {{vector.XYZ.sRGB.I|floatformat:4}}</td></tr>
        <tr><td>Lab &ensp; </td>
            <td>L {{vector.Labuv.sRGB_D65_2.Lab.L|floatformat:4}}&ensp; a* {{vector.Labuv.sRGB_D65_2.Lab.a|floatformat:4}}&ensp; b* {{vector.Labuv.sRGB_D65_2.Lab.b|floatformat:4}}&ensp; 
                H {{vector.Labuv.sRGB_D65_2.Lab.H|floatformat:2}}&ensp; C {{vector.Labuv.sRGB_D65_2.Lab.C|floatformat:4}}&ensp; S {{vector.Labuv.sRGB_D65_2.Lab.S|floatformat:4}}</td></tr>
        <tr><td>Luv &ensp;</td>
            <td>L {{vector.Labuv.sRGB_D65_2.Luv.L|floatformat:4}}&ensp; u* {{vector.Labuv.sRGB_D65_2.Luv.u|floatformat:4}}&ensp; v* {{vector.Labuv.sRGB_D65_2.Luv.v|floatformat:4}}&ensp; 
                H {{vector.Labuv.sRGB_D65_2.Luv.H|floatformat:2}}&ensp; C {{vector.Labuv.sRGB_D65_2.Luv.C|floatformat:4}}&ensp; S {{vector.Labuv.sRGB_D65_2.Luv.S|floatformat:4}}</td></tr>
        <tr><td>GeoLab &ensp; </td>
            <td>Latitude {{vector.Labuv.sRGB_D65_2.GeoLab.Lati|floatformat:2}}&ensp; Longitude {{vector.Labuv.sRGB_D65_2.GeoLab.Long|floatformat:2}}&ensp; Radius {{vector.Labuv.sRGB_D65_2.GeoLab.Radius|floatformat:4}}</td></tr> 
    </table>
    <br>
    {% if search.complementary.count %}
        <br>
        <h5>Complementary Colors &ensp; <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.complementary.count}}</span></h5>
        <hr>
        <table class="table-condensed" style="font-size:small; font-weight:normal; line-height:22px">
            <tr><th>Additive &ensp;</th><th>Subtractive</th></tr>
            <tr>{% for item in search.complementary.list %}
                <td><a class="btn btn-primary btn-block border-light"
                    style="width: 150px; height: 45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                    href="{% url 'litmus:colorInfo' pk=item.id %}">
                    {{ item.litmus.name}}<br>{{item.litmus.hexa}}</a></td>
                {% endfor %}</tr>
        </table>
        <br>
    {% endif %}
    {% if search.shade.count %}
        <br>
        <h5>Shade &ensp; <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.shade.count}}</span></h5>
        <hr>
        {% for item in search.shade.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height:45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name}}<br>{{item.litmus.hexa}}
            </a></p>
        </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if search.tint.count %}
        <br>
        <h5>Tint &ensp; <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.tint.count}}</span></h5>
        <hr>
        {% for item in search.tint.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height:45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name}}<br>{{item.litmus.hexa}}
            </a></p>
        </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if search.neighbor.count %}
        <br>
        <h5>Neighbor Colors &ensp; <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.neighbor.count}}</span></h5>
        <hr>
        {% for item in search.neighbor.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height: 45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name}}<br>d={{item.distance|floatformat:4}}
            </a></p>
         </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if search.family.count %}
        <br>
        <h5>Family Colors &ensp; <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.family.count}}</span></h5>
        <hr>
        {% for item in search.family.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height:45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name}}<br>{{item.litmus.hexa}}
            </a></p>
        </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if search.cell.count %}
        <br>
        <h5>Colors in this RGB Cell #{{litmus.cell.room}}&ensp; <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.cell.count}}</span></h5>
        <hr>
        {% for item in search.cell.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height:45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name}}<br>{{item.litmus.hexa}}
            </a></p>
        </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if search.adjacent.count %}
        <br>
        <h5>Adjacent Cells &ensp; <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.adjacent.count}}</span></h5>
        <hr>
        {% for item in search.adjacent.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height:45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name}}<br>Cell # {{item.litmus.cell.room}}
            </a></p>
        </div>
        {% endfor %}
        <br>
    {% endif %}
    
    <br>
    <h5>Geo Map</h5>
    <hr>
    <div id="map"></div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr7uqzPRQYrFASLrIVkMbK8yCk6vbavtQ&callback=initMap"></script>
{% endblock %}

{% block scripts %}
<script>
    var map;
    function initMap() {
        var map_center = {lat: 38, lng: 138}; 
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 1.4, center: map_center});
        // var marker = new google.maps.Marker({position: map_center, map: map, title:"title"});
        var locations = [
            {% for key, value in search.items %}
            {% for item in value.list %}
            ["{{item.id}}", {{item.litmus.geo.0}}, {{item.litmus.geo.1}}, "{{item.litmus.name}}", "{{item.litmus.hexa}}", "{{item.case}}"],
            {% endfor %}
            {% endfor %}
        ];
        for (var i = 0; i < locations.length; i++) {
            if (locations[i][5] == 'supernova') {
                var marker = new google.maps.Marker({ 
                    position: {lat: locations[i][1], lng: locations[i][2]}, 
                    map: map,
                    label: {
                        color: 'black',
                        fontWeight: 'bold',
                        fontSize: '11px',
                        text: locations[i][3]
                    },
                    icon: {
                        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                        scale : 3,
                        strokeWeight : 1,
                        fillColor: locations[i][4],
                        fillOpacity: 1.0,
                        strokeColor: 'black',
                        // anchor: new google.maps.Point(0, 0),
                        labelOrigin: new google.maps.Point(0, 2)
                    },
                });
            } else if (locations[i][5] == 'self') {
                var marker = new google.maps.Marker({ 
                    position: {lat: locations[i][1], lng: locations[i][2]}, 
                    map: map,
                    label: {
                        color: 'black',
                        fontWeight: 'bold',
                        fontSize: '11px',
                        text: locations[i][3]
                    },
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale : 8,
                        strokeWeight : 6,
                        fillColor: locations[i][4],
                        fillOpacity: 1.0,
                        strokeColor: 'red',
                        // anchor: new google.maps.Point(0, 0),
                        labelOrigin: new google.maps.Point(0, 2)
                    },
                });
            } else {
                var marker = new google.maps.Marker({ 
                    position: {lat: locations[i][1], lng: locations[i][2]}, 
                    map: map,
                    label: {
                        color: 'black',
                        fontWeight: 'bold',
                        fontSize: '11px',
                        text: locations[i][3]
                    },
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale : 5,
                        strokeWeight : 1,
                        fillColor: locations[i][4],
                        fillOpacity: 1.0,
                        strokeColor: 'black',
                        // anchor: new google.maps.Point(0, 0),
                        labelOrigin: new google.maps.Point(0, 2)
                    },
                });
            }
        }
    }
</script>

{% endblock %}
