{% extends "base.html" %}

{% block content %}

<br>
<div class="container-fluid text-center">
    <div class="row content">
        <!-- Title -->
        <div class="col-sm-8 text-left"> 
            <h3>Color Search</h3>
            <p></p>
            <br>
        </div>
        <!-- Setting of Link Button -->
        <div class="col-sm-2" style="text-align:right">
            <p></p>        
        </div>
        <div class="col-sm-2" style="text-align:right">
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="row content">
        <!-- Search -->
        <br>
        <form class="form-inline" action="{% url 'litmus:colorSearch' %}" id="color_search" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-8">
                    <input type="text" name="search" class="form-control" placeholder="color name or code">
                </div>
                <div class="col-sm-2"><button type="submit" class="btn btn-Warning"><i class="fas fa-search"></i></button></div>
            </div>
        </form>
        <br><br>
    </div>
</div>
<hr>
<div class="container">
    {% if search.identicals.count %}
    <div class="row content">
        <div class="col-sm-4 text-left"> 
            <h6>Colors Identical to "{{word}}" <span class="badge badge-warning" style="font-size:12pt; text-align:center">{{search.identicals.count}}</span></h6>
        </div>
        <div class="col-sm-6 text-left"> 
            <table class="table" style="font-size:small;">
                <tr>
                    <th>Color Name</th>
                    <th>Color</th>
                    <th>Hexa</th>
                    <th>Distance</th>
                </tr>        
                {% for item in search.identicals.list %}
                <tr>
                    <td>{{item.name.capitalize}}</td>
                    <td><a class="btn btn-primary btn-lg border-dark" style="font-size:12pt; background-color:{{item.hexa}}"
                        href="{% url 'litmus:colorInfo' pk=item.id %}"></a></td>
                    <td>{{item.hexa}}</td>
                    <td>{{item.distance|floatformat:4}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    {% endif %}
    {% if search.neighbors.count %}
    <div class="row content">
        <div class="col-sm-4 text-left"> 
            <h6>Colors Neighbor to "{{word}}" <span class="badge badge-warning" style="font-size:12pt; text-align:center">{{search.neighbors.count}}</span></h6>
        </div>
        <div class="col-sm-6 text-left"> 
            <table class="table" style="font-size:small;">
                <tr>
                    <th>Color Name</th>
                    <th>Color</th>
                    <th>Hexa</th>
                    <th>Distance</th>
                </tr>        
                {% for item in search.neighbors.list %}
                <tr>
                    <td>{{item.name.capitalize}}</td>
                    <td><a class="btn btn-primary btn-lg border-dark" style="font-size:12pt; background-color:{{item.hexa}}"
                        href="{% url 'litmus:colorInfo' pk=item.id %}"></a></td>
                    <td>{{item.hexa}}</td>
                    <td>{{item.distance|floatformat:4}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    <hr>
    {% endif %}
    {% if search.matches.count %}
    <div class="row content">
        <div class="col-sm-4 text-left"> 
            <h6>Colors containig "{{word}}"  <span class="badge badge-warning" style="font-size:12pt; text-align:center">{{search.matches.count}}</span></h6>
        </div>
        <div class="col-sm-6 text-left"> 
            <table class="table" style="font-size:small;">
                <tr>
                    <th>Color Name</th>
                    <th>Color</th>
                    <th>Hexa</th>
                </tr>        
                {% for item in search.matches.list %}
                <tr>
                    <td>{{item.name.capitalize}}</td>
                    <td><a class="btn btn-primary btn-lg border-dark" style="font-size:12pt; background-color:{{item.hexa}}"
                        href="{% url 'litmus:colorInfo' pk=item.id %}"></a></td>
                    <td>{{item.hexa}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    {% endif %}
</div>

{% endblock %}