{% extends "base.html" %}

{% block head %}
<style>
    #map { height: 480px; width:720px}
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }
</style>
{% endblock %}

{% block content %}

<br>
<div class="container-fluid text-center">
    <div class="row content">
        <!-- Title -->
        <div class="col-sm-4 text-left"> 
            <h4>Color Search</h4>
            <p></p>
            <br>
        </div>
        <!-- Setting of Search Button -->
        <div class="col-sm-4" style="text-align:right">
            <form class="form-inline" style="text-align:center" action="{% url 'litmus:colorSearch' %}" id="color_search" method="POST">
                {% csrf_token %}
                <div class="form-group" style="text-align:center">
                    <input type="text"  name="search" id="search_input" class="form-control input-group colorpicker-component" style="text-align:left" placeholder="color name or code">
                    <button type="submit" onkeydown="enterkey();" name="submit" class="btn btn-Warning"><i class="fas fa-search"></i></button>   
                </div>
            </form>        
        </div>
        <div class="col-sm-2" style="text-align:right">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    
</div>

<div class="container">
    {% if search.identical.count %}
        <br>
        <h5>Colors Identical to "{{word}}" <span class="badge badgesuccess" style="font-size:10pt; text-align:center">{{search.identical.count}}</span></h5>
        <hr>
        {% for item in search.identical.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height: 45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name }}
            </a></p>
        </div>
        {% endfor %}
        <br><br>
    {% endif %}

    {% if search.neighbor.count %}
        <br>
        <h5>Colors Neighbor to "{{word}}" <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.neighbor.count}}</span></h5>
        <hr>
        {% for item in search.neighbor.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height: 45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name }}<br>d={{item.distance|floatformat:4}}
            </a></p>
        </div>
        {% endfor %}
        <br><br>
    {% endif %}
    {% if search.cell.count %}
        <br>
        <h5>Colors in "{{word|slice:'1:'}}" RGB Cell &ensp;<span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.cell.count}}</span></h5>
        <hr>
        {% for item in search.cell.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height: 45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name }}
            </a></p>
        </div>
        {% endfor %}
        <br><br>
    {% endif %}
    {% if search.family.count %}
        <br>
        <h5>Family colors of "{{word|slice:'1:'}}" <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.family.count}}</span></h5>
        <hr>
        {% for item in search.family.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height: 45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name }}
            </a></p>
        </div>
        {% endfor %}
        <br><br>
    {% endif %}
    {% if search.match.count %}
        <br>
        <h5>Colors including word "{{word}}" <span class="badge badge-success" style="width:40px; font-size:10pt; text-align:center">{{search.match.count}}</span></h5>
        <hr>
        {% for item in search.match.list %}
        <div style="display: inline-block;">
            <p><a class="btn btn-primary btn-block border-light"
                style="width: 150px; height: 45px; font-size:8pt; font-weight:{{item.litmus.text.font}}; text-align:left; padding:5px; color:{{item.litmus.text.color}}; background-color:{{item.litmus.hexa}};"
                href="{% url 'litmus:colorInfo' pk=item.id %}">
                {{ item.litmus.name}}
            </a></p>
        </div>
        {% endfor %}
        <br><br>
    {% endif %}
    {% if word %}
    <br><br>
    
    <h5>Geo Map</h5>
    <hr>
    <div id="map"></div>
    {% endif %}
</div>  
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr7uqzPRQYrFASLrIVkMbK8yCk6vbavtQ&callback=initMap"
></script>

{% endblock %}

{% block scripts %}

<script>
    var map;
    function initMap() {
        var map_center = {lat: 38, lng: 138}; 
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 1.4, center: map_center});
        // var marker = new google.maps.Marker({position: map_center, map: map, title:"title"});
        
        var locations = [
            {% for key, value in search.items %}
            {% for item in value.list %}
            ["{{item.id}}", {{item.litmus.geo.0}}, {{item.litmus.geo.1}}, "{{item.litmus.name}}", "{{item.litmus.hexa}}", "{{item.case}}"],
            {% endfor %}
            {% endfor %}
        ];
        for (var i = 0; i < locations.length; i++) {
            if (locations[i][5] == 'supernova') {
                var marker = new google.maps.Marker({ 
                    position: {lat: locations[i][1], lng: locations[i][2]}, 
                    map: map,
                    label: {
                        color: 'black',
                        fontWeight: 'bold',
                        fontSize: '11px',
                        text: locations[i][3]
                    },
                    icon: {
                        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                        scale : 3,
                        strokeWeight : 1,
                        fillColor: locations[i][4],
                        fillOpacity: 1.0,
                        strokeColor: 'black',
                        // anchor: new google.maps.Point(0, 0),
                        labelOrigin: new google.maps.Point(0, 2)
                    },
                });
            } else {
                var marker = new google.maps.Marker({ 
                    position: {lat: locations[i][1], lng: locations[i][2]}, 
                    map: map,
                    label: {
                        color: 'black',
                        fontWeight: 'bold',
                        fontSize: '11px',
                        text: locations[i][3]
                    },
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale : 4,
                        strokeWeight : 2,
                        fillColor: locations[i][4],
                        fillOpacity: 1.0,
                        strokeColor: 'black',
                        // anchor: new google.maps.Point(0, 0),
                        labelOrigin: new google.maps.Point(0, 2)
                    },
                });
            }
        }
    }
</script>
{% endblock %}