{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#Add_New_Color">
        Add New Color &raquo
    </button>
    
    <div class="modal fade" id="Add_New_Color" tabindex="-1" role="dialog" aria-labelledby="Add New Color">
      <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
          <div class="modal-header"> 
            <h5 class="modal-title" id="Add_New_Color">Add New Color</h4>
           </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {{% crispy form %}}
                <hr>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"> Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>Close</button>
                </div>
            </form> 
          </div> 
         </div>
      </div>
    </div>  
    
</div>
{% block library %}{% endblock %}

{% endblock %}

