{% extends "base.html" %}

{% block content %}
<br>
<div class="container-fluid text-center">
    <!-- Message for New Color Registration --> 
    {% if message %}
    <div id="collapseMessage" class="collapse show" aria-labelledby="headingMessage" > 
        <div class="alert alert-success" role="alert">
            <p style="font-weight:bold">"{{message}}"</p>
            <button type="button" class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseMessage">Close</button>
        </div>
        <br>  
    </div>
    {% endif %}
    
    <div class="row content">
        <!-- Title -->
        <div class="col-sm-8 text-left"> 
            <h3>Color Information</h3>
        </div>   
        <!-- Setting of Link Button -->
        <div class="col-sm-2" style="text-align:right">
            <p></p>
            <p></p>
        </div>
        <div class="col-sm-2" style="text-align:right">
            <p><a class="btn btn-info btn-sm border-light" style="background-color:deeppink; width:110pt"
                href="{% url 'litmus:main' %}">Color Search</a></p>
            <p></p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row content">
        <div class="col-sm-4 "> 
            <div class="card" style="width: 16rem; height: 15rem;">
                <div class="card-body" style="background-color:{{litmus.hexa}}">           
                    {% if litmus.depth == "dark" or litmus.depth == "deep" %}
                    <h5 class="card-title" style="color:white">{{litmus.name.capitalize}}</h5>
                    <h6 style="color:white">{{litmus.hexa}}</h6>  
                    {% else %}
                    <h5 class="card-title" style="color:black; font-weight: bold">{{litmus.name.capitalize}}</h5>
                    <h6 style="color:black">{{litmus.hexa}}</h6> 
                    {% endif %}                  
                </div> 
            </div>
            <br>
            <div class="container">
                <table class="table-condensed" style="font-size:small; font-weight:bold">
                    <tr><td>Color Group &ensp;</td>
                        <td>{{litmus.group.capitalize}}</td></tr>
                    <tr><td>Color Depth &ensp;</td>
                        <td>{{litmus.depth.capitalize}}</td></tr>
                </table>
                <br>
            </div> 
        </div>
        <div class="col-sm-8 text-left"> 
            <h5>Color Coordinates</h5>
            <hr>
            <table class="table-condensed" style="font-size:small; ">
                <tr><td>RGB</td>
                    <td>RGB</td>
                    <td>R {{vector.RGB.RGB.R}}&ensp; G {{vector.RGB.RGB.G}}&ensp; B {{vector.RGB.RGB.B}}</td></tr>
                <tr><td></td>
                    <td>rgb </td>
                    <td>r {{vector.RGB.rgb.r|floatformat:4}}&ensp; g {{vector.RGB.rgb.g|floatformat:4}}&ensp; b {{vector.RGB.rgb.b|floatformat:4}}</td></tr> 
                <tr><td></td>
                    <td>HSL </td>
                    <td>H {{vector.RGB.HSL.H|floatformat:2}}&ensp; S {{vector.RGB.HSL.S|floatformat:4}}&ensp; L {{vector.RGB.HSL.L|floatformat:4}}&ensp; C {{vector.RGB.HSL.C|floatformat:4}}</td></tr>  
                <tr><td></td>    
                    <td>Parameter &ensp;</td>
                    <td>Sum {{vector.RGB.Param.Sum|floatformat:4}}&ensp; Max {{vector.RGB.Param.Max|floatformat:4}}&ensp; Min {{vector.RGB.Param.Min|floatformat:4}}&ensp; Sigma {{vector.RGB.Param.Sigma|floatformat:4}}&ensp; Delta {{vector.RGB.Param.Delta|floatformat:4}}</td></tr> 
                <tr><td></td>
                    <td>Geo </td>
                    <td>Longitude {{vector.RGB.GEO.Long|floatformat:2}}&ensp; Latitude {{vector.RGB.GEO.Lati|floatformat:2}}&ensp; Radius {{vector.RGB.GEO.Radius|floatformat:4}}</td></tr> 
                <tr><td>HSLV </td> 
                    <td>HSL</td>
                    <td>H {{vector.HSLV.HSL.H|floatformat:2}}&ensp; S {{vector.HSLV.HSL.S|floatformat:4}}&ensp; L {{vector.HSLV.HSL.L|floatformat:4}}&ensp; C {{vector.HSLV.HSL.C|floatformat:4}}</td></tr>
                <tr><td></td>
                    <td>HSV</td>
                    <td>H {{vector.HSLV.HSV.H|floatformat:2}}&ensp; S {{vector.HSLV.HSV.S|floatformat:4}}&ensp; V {{vector.HSLV.HSV.V|floatformat:4}}&ensp; C {{vector.HSLV.HSV.C|floatformat:4}}</td></tr>
                <tr><td>CMYK &ensp; </td>
                    <td>CMYK</td>
                    <td>K {{vector.CMYK.K|floatformat:4}}&ensp; C {{vector.CMYK.C|floatformat:4}}&ensp; M {{vector.CMYK.M|floatformat:4}}&ensp; Y {{vector.CMYK.Y|floatformat:4}}</td></tr>
                {% for key, value in vector.XYZ.items %}
                <tr><td>{% if forloop.counter == 1 %}XYZ {% endif %}</td>
                    <td>{{key}}&deg; &ensp; </td>
                    <td>X {{value.X|floatformat:4}}&ensp; Y {{value.Y|floatformat:4}}&ensp; Z {{value.Z|floatformat:4}}&ensp; 
                        x {{value.x|floatformat:4}}&ensp; y {{value.y|floatformat:4}}&ensp; I {{value.I|floatformat:4}}</td></tr>
                {% endfor %}
                {% for key, value in vector.Labuv.items %}
                <tr><td>{% if forloop.counter == 1 %}Lab {% endif %}</td>
                    <td>{{key}}&deg; &ensp; </td>
                    <td>L {{value.Lab.L|floatformat:4}}&ensp; a* {{value.Lab.a|floatformat:4}}&ensp; b* {{value.Lab.b|floatformat:4}}&ensp; 
                        H {{value.Lab.H|floatformat:2}}&ensp; C {{value.Lab.C|floatformat:4}}&ensp; S {{value.Lab.S|floatformat:4}}</td></tr>
                {% endfor %}
                {% for key, value in vector.Labuv.items %}
                <tr><td>{% if forloop.counter == 1 %}Luv {% endif %}</td>
                    <td>{{key}}&deg; &ensp; </td>
                    <td>L {{value.Luv.L|floatformat:4}}&ensp; u* {{value.Luv.u|floatformat:4}}&ensp; v* {{value.Luv.v|floatformat:4}}&ensp; 
                        H {{value.Luv.H|floatformat:2}}&ensp; C {{value.Luv.C|floatformat:4}}&ensp; S {{value.Luv.S|floatformat:4}}</td></tr>
                {% endfor %}
            </table>
            <br>
            {% if search.identicals.count %}
            <br>
            <h5>Identical Colors ({{search.identicals.count}})</h5>
            <table class="table" style="font-size:small;">       
                {% for item in search.identicals.list %}
                {% if not(litmus.name.kower == item.name.lower)}
                <tr>
                    <td>{{item.name.capitalize}}</td>
                    <td><a class="btn btn-primary btn-lg border-dark" style="font-size:12pt; background-color:{{item.hexa}}"
                        href="{% url 'litmus:colorInfo' pk=item.id %}"></a></td>
                    <td>#{{item.hexa}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <br>
            {% endif %}
            {% if search.neighbors.count %}
            <h5>Neighbor Colors ({{search.neighbors.count}})</h5>
            <table class="table" style="font-size:small;">     
                {% for item in search.neighbors.list %}
                <tr>
                    <td>{{item.name.capitalize}}</td>
                    <td><a class="btn btn-primary btn-lg border-dark" style="font-size:12pt; background-color:{{item.hexa}}"
                        href="{% url 'litmus:colorInfo' pk=item.id %}"></a></td>
                    <td>#{{item.hexa}}</td>
                    <td>D {{item.distance|floatformat:4}}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            {% endif %}
            {% if plot %}
            <br>
            <h5>Plot in RGB Space</h5>
            <hr>
            <div>{{plot|safe}}</div>
            <br>
            {% endif %}
        </div>
    </div>
</div> <!-- /container -->

{% endblock %}
