{% extends "base.html" %}

{% block content %}

<div class="container-fluid text-center" style="text-align:center; padding:100px">
    <!-- Title -->
    <h3><span style="color:royalblue">S</span>
        <span style="color:orange">e</span>
        <span style="color:seagreen">a</span>
        <span style="color:firebrick">r</span>
        <span style="color:midnightblue">c</span>
        <span style="color:saddlebrown">h </span>
        <span style="color:magenta">  &ensp; C</span>
        <span style="color:gold">o</span>
        <span style="color:lightskyblue">l</span>
        <span style="color:orangered">o</span>
        <span style="color:green">r</span>
        <span style="color:dodgerblue">s</span></h3>
    <!-- Search with Color Picker-->
    <br><br>
    <form class="form-inline justify-content-center"  action="{% url 'litmus:colorSearch' %}" id="color_search" method="POST">
        {% csrf_token %}
        <div class="form-group" >
            <button class="input-group-addon btn btn-Warning" id="color_picker"><i class="fas fa-palette color:green"></i></button>
            <input type="text"  name="search" id="search_input" class="form-control input-group colorpicker-component" style="text-align:left" placeholder="color name or code">
            <button type="submit" onkeydown="enterkey();" name="submit" class="btn btn-Warning"><i class="fas fa-search"></i></button>   
        </div>
    </form>
</div>

<div class="container-fluid text-center" style="text-align:center; padding:50px">
    <p>{{ count }}</p>
</div>
<br>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#color_picker').colorpicker({
            format: 'hex',
        });
        $('#color_picker').colorpicker().on('changeColor', function(e) {
            document.getElementById("search_input").value = e.color.toHex().toUpperCase();

        });
    });
</script>
{% endblock %}